<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3">질문</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr class="item-<%= question.id %>">
        <td><%= question.title %></td>
        <td><%= link_to '보기', question, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '질문 등록', new_question_path, class: 'btn btn-default' %>
