<table class="table table-hover">
  <thead>
    <tr>
      <th>질문</th>
      <th class="questioner">질문자</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr class="item-<%= question.id %>">
        <td><%= link_to question.title+" (#{question.no_answers})", question %></td>
        <td class="questioner">wef</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '질문 등록', new_question_path, class: 'btn btn-default' %>
