.question-content {
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  min-height: 200px;
}
.question-questioner {
  margin: 1em 0;
  text-align: right;
}
.questioner {
  text-align: center;
}
