<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-content-one">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">[Preview] <%= title %></h4>
      </div>
      <div class="modal-body">
        <div id="wmd-preview-<%= attribute %>" class='wmd-preview'></div>
        <div style='text-align:center;border-top:1px solid #eaeaea;padding-top:1em;'>
          <p>- The End of rBlog -</p>
          (Preview를 중단하려면 esc 키를 누르거나 우측 상단에 있는 &times; 표시를 클릭하세요.)
        </div>
      </div>
    </div>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
