<div class="promo alert alert-danger text-center">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h3>The AGAIN2011 Workshop<br /><small class='text-danger'>for Rails Beginners</small></h3>
  <p>
    기간 : 2016-06 ~ 2016-08<br/>
    시간 : 격주 일요일 오전 9시 ~ 12시<br />
    장소 : 토즈 강남2호점<br />
    주체 : RORLAB | 지원 : 네이버D2<br />
  </p>
  <p>
    <%= link_to "참가신청하기", "/schedules/1/appliers/new", class: 'btn btn-danger' %>
  </p>
</div>
