<div class="card">
	<div class="card-body">
		<div class="media">
      <%= link_to image_tag('rails_guide_cover.jpg', class: 'mr-3', alt: 'Gitbook'), "https://www.railsguidebook.com/" %>
		  <div class="media-body">
		    <h4 class="media-heading">초보자를 위한 레일스 가이드북</h4>
		    Gitbook(온라인 전자책)으로 작성된 레일스 안내서로 RORLAB에서 공동집필로 작성되었습니다.<hr>
		    그 외에도 초보자를 위한 <a href='http://www.gitbook.io/book/luciuschoi/exploring_devise' target='_blank'>"Devise 젬 파헤치기"</a>, <a href='http://www.gitbook.io/book/luciuschoi/foundblog' target='_blank'>"FoundBlog 따라하기"</a> 등이 있습니다.
		  </div>
		</div>
	</div>
</div>
