<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <%= link_to weeklynews_path do %>
          <%= image_tag "rorlab_weekly.png", class: 'img-fluid', alt: "RORLab 주간뉴스" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9">
        RORLab 주간뉴스는 매주 <strong>루비</strong>와 <strong>루비온레일스</strong>에 대한 정보를 전달합니다.
      </div>
    </div>
  </div>
</div>
