<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>[RORLAB] 참가신청 완료</h3>
    <p>
      <%= @applier.name %>님의 "<%= @applier.schedule.name %>" 참가신청이 접수되었습니다.
    </p>
    <p>
      감사합니다.
    </p>
    <hr>
    <p>RORLAB 담당자<br /><%= link_to "http://rorlab.org", "http://rorlab.org" %></p>
  </body>
</html>
