<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>RORLab 비밀번호 재설정 요청</h1>
    <p>
      최근 RORLab 홈페이지를 변경하면서 기존에 가입된 회원분들의 정보중 이메일을 제외하고는 이전하지 않기로 했습니다. 
    </p>
    <p>
      또한 비밀번호 정보 역시 이전하지 않기로 했기에 현재 비밀번호는 랜덤한 문자열로 설정되어 있어 로그인을 위해서는 비밀번호 재설정이 필요합니다.
    </p>
    <p>
      <%= link_to '비밀번호 재설정', new_user_password_url %> 링크를 클릭하여 비밀번호를 재설정해주시기 바랍니다.
    </p>
  </body>
</html>