<h2 class='view_title'>Plaza</h2>

<div id="plazas">
  <%= render @plazas %>
</div>

<div id="last_page"></div>
<%= will_paginate @favlinks %>
<%= pageless(@plazas.total_pages, url_for, '#plazas') %>
