<div class="visible-xs spacer01"></div>
<div class="visible-sm spacer02"></div>
<div class="visible-md spacer04"></div>
<div class="visible-lg spacer05"></div>
<div class="jumbotron">
  <div class="container">
		<h2>ROR Lab.에 오신 것을 환영합니다.</h2>
		<p>: Ruby on Rails Korean Study Group with free offline lectures</p>
	  <hr style="border:1px solid #850000;">
	  <% if user_signed_in? %>
		  <p>Logged in with <%= current_user.email %>.</p>
			<%= link_to "> 로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-primary' %>
	  <% else %>
			<%= link_to "> 로그인", new_user_session_path, class: 'btn btn-primary' %>
			<%= link_to "> 회원가입", new_user_registration_path, class: 'btn btn-success' %>
	  <% end %>
  </div>
</div>


