# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: sqlite3
  pool: 5
  timeout: 5000


development:
  <<: *default
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: localhost
  port: 3306
  database: rorla_development
  username: root
  password:

production:
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: localhost
  port: 3306
  database: rorla_production
  username: <%= ENV['RORLA_DB_USERNAME'] %>
  password: <%= ENV['RORLA_DB_PASSWORD'] %>
