<h2>신청내용</h2>
<br />
<%= render @applier %>
<br />
<div class="form-actions">
  <%= link_to "신청확인", schedule_appliers_path(@schedule), class: 'btn btn-default' %>
  <%= link_to t("form_actions.edit"), edit_schedule_applier_path(@schedule, @applier), class: 'btn btn-default' %>
  <%= link_to (@applier.accepted ? awesome_icon_label("user-times", "수락취소") : awesome_icon_label("user-plus", "최종수락")), accept_schedule_applier_path(@schedule, @applier), method: :put, class: "btn btn-#{ @applier.accepted ? 'danger' : 'success'}" if current_user.can_accept?(@applier)%>
</div>
