

  <div class='container'>
    <div style='display:table;margin:2em;padding:3em;margin:0 auto;height:100%;width:100%;'>
      <div style='display:table-cell; text-align:center;vertical-align:middle;'>
        <div class="panel panel-danger">
          <div class="panel-heading">404 Not Found</div>
          <div class="panel-body">
            잘못된 페이지를 호출하셨습니다!<br />
            <%= link_to "이전 페이지로 이동", :back %>
          </div>
          <div class="panel-footer">
            RORLAB<sup>&reg;</sup>
          </div>
        </div>
      </div>
    </div>
  </div>
