<% if user_signed_in? %>
  <div class='row'>
    <div class='col-md-12'>
      <p><%= link_to_if (user_signed_in? && current_user.has_role?(:user)), "My Bundlelinks :", bundlelinks_path %></p>
      <ul style="list-style-type: none;padding-left:1.5rem;">
      <% bundles = Bundlelink.my_private_bundles(current_user) %>
      <% bundles.each do |bundle| %>
        <li style='text-indent:-.5rem;'><%= icon_shared(bundle.shared) %>&nbsp;&nbsp;<%= link_to bundle.title, bundlelink_favlinks_path(bundle)%> (<%= bundle.favlinks.size %>)</li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>