<div class="d-hidden d-md-block border rounded" style="height: 50rem; overflow: auto;">
  <a class="twitter-timeline" href="https://twitter.com/rorlab?ref_src=twsrc%5Etfw">Tweets by rorlab</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

