<% if controller_name == 'questions' %>
  <p style="margin-top:4.5em;margin-bottom:2em;border:1px solid red; border-radius:5px;padding:1em;">
    <%= link_to image_tag("q_&_a_no_border.png", width: '100%'), questions_path(page:nil, search:nil) %>
    <%= link_to icon_label('plus', '질문 등록'), new_question_path, class: "btn btn-danger #{'disabled' if action_name == 'new'}", style:'margin-top:1em;display:block;'%>
  </p>
<% end %>
