<% if controller_name == 'rblogs' %>
  <div>
    <p style="margin-top:2rem;margin-bottom:2em;border:1px solid red; border-radius:5px;padding:1em;">
      <%= link_to image_tag("rblog_no_border.png", width: '100%'), rblogs_path(page:nil, search:nil) %>
      <%= link_to fas_icon_text('plus', '새글작성'), new_rblog_path, class: "btn btn-danger #{'disabled' if action_name == 'new'}", style:'margin-top:1em;display:block;'%>
    </p>
    <%= render "layouts/shared/sidebar/my_rblogs" %>
  </div>
<% end %>
