<script>
  (function (d, s, id) {
      var t, js, fjs = $("body");
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src= "https://platform.twitter.com/widgets.js";
      $(fjs).append(js, fjs);
      return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f)  }  });
  }(document, "script", "twitter-wjs"));
</script>

<div class="d-hidden d-md-block border rounded" style="height: 50rem; overflow: auto;">
  <a class="twitter-timeline" href="https://twitter.com/rorlab?ref_src=twsrc%5Etfw">Tweets by rorlab</a> 
</div>

