<% if controller_name == "glossaries" %>
  <div>
    <p style="margin-top:2rem;border:1px solid red; border-radius:5px;padding:1em;">
      <%= link_to image_tag("glossary_no_border.png", width: '100%'), glossaries_path(page:nil, search:nil) %>
      <%= link_to fas_icon('plus', text: "용어추가"), new_glossary_path, class: "btn btn-danger #{'disabled' if action_name == 'new'}", style:'margin-top:1em;display:block;'%>
    </p>

    <p><%= render "layouts/shared/sidebar/tag_clouds_for_glossary" %></p>
  </div>
<% end %>
