<h2>Preview of Favlink</h2>

<div id='show_favlink'>
<%= render @favlink %>
</div>
<hr>

<%= link_to 'Edit', edit_favlink_path(@favlink), class: 'btn btn-default' %>
<%= link_to 'Back', favlinks_path, class: 'btn btn-default' %>
