<h2>Favlinks</h2>

<div id='show_favlink'>
  <%= render partial: 'favlink_for_index', locals: { favlink: @favlink } %>
</div>

<div class='form-actions'>
<%= link_to 'Edit', @bundlelink ? edit_bundlelink_favlink_path(@bundlelink, @favlink) : edit_favlink_path(@favlink), class: 'btn btn-primary' %>
<%= link_to 'Back', @bundlelink ? bundlelink_favlinks_path(@bundlelink) : favlinks_path, class: 'btn btn-secondary' %>
</div>

<!-- 댓글 위젯 -->
<%= render partial: "comments/comments_widget", locals: { resource: @favlink} %>
