// $navbar-default-link-hover-color: #bc0000;
$code-color: #004080;
$code-bg: #eaf2ff;

//== Media queries breakpoints

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  1199px !default;   //768

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  1200px !default;  //992

$grid-gutter-width: 50px;
$jumbotron-padding: 20px;

.fontawesome-i2svg-pending body {
	display: none;
}

@import 'jquery-ui';
@import 'jquery.minicolors';
@import "bootstrap";
@import "bootstrap_customized";
@import "flip-card";
@import 'codemirror/lib/codemirror';
@import 'highlightjs/styles/github';
@import 'tui-editor/dist/tui-editor';
@import 'tui-editor/dist/tui-editor-contents';
@import "tui-editor-customized";
@import "styles";
@import "pagedown_bootstrap";
@import 'token-input';
@import 'token-input-facebook';
@import "google-code-prettify-rails/prettify";
@import "codemirror";
@import "codemirror/themes/solarized";
@import "codemirror/addons/dialog/dialog";
@import 'layout';
@import 'custom';
@import 'plazas';
@import 'posts';
@import 'favlinks';
@import 'rblogs';
@import 'question/questions';
@import 'podcasts';
@import 'codebanks';
@import 'info';
@import 'comments';
@import 'purchase_requests';
@import 'courses';
@import "lectures";
@import "glossaries";
@import "newsletters";