// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fieldset_course_title {
  font-weight: bolder;
  color: darkred;
  margin-bottom:.7em;
}

.fieldset_course_summary {
  border: 1px solid #ccc;
  padding: .5em;
  border-radius: 5px;
  p { padding:.5em; }
  p, legend {
    margin-bottom: 0;
  }
  legend {
    width:auto;
    background-color: #eaeaea;
    font-size: 1.2em;
    font-weight: bolder;
    border-left: 5px solid #eaeaea;
    padding-left: 3px;
    border-radius: 3px;
    border:1px solid #ccc;
    padding: 4px 10px;
  }
}
