// Customization of Devise Views

checkbox {
  margin-right:5px;
}

.alert-error {
  border:1px solid #080000;
  border-radius: 5px;
  background-color: #fde6d6;
}

.shadow_image {
  border:1px solid #eaeaea;
  padding:5px;
  box-shadow: 0px 0px 5px #888888;
}

.form-actions {
   background-color:#eaeaea;
   padding:1em;
   margin:2em 0;
   border-top:1px solid #dadada;
}


// Customization of General Views

h2 { font-weight: bold}
h2 > span.glyphicon {
  display: inline-block;
  vertical-align: top;
  margin-top:2px;
}

.badge-private {
  background-color: #c9302c;
}

.badge-shared {
  background-color: #008040;
}