#favlinks, #show_favlink {
  .favlink {
    border:1px solid #eaeaea;
    border-radius: 5px;
    padding: 1em;
    margin-bottom:1em;
    .title {
      h4 { margin:0;}
      background-color: #def1f8;
      padding:.5em .5em;
      margin-bottom: .5em;

    }
    .linkurl {
      padding-left: .5em;
    }
    .bundle {
      padding-left: .5em;
    }
    .writer {
      color:#a8a8a8;
      padding-left: .5em;
      margin-top: .5em;
      border-top: 1px solid #eaeaea;
    }
    .tag {
      padding-left: .5em;
    }
    .actions {
      text-align: right;
      margin-bottom:.5em;
    }
    .site {
      .description {
        margin-left:1em;
        padding:1em;
      }
    }
  }

  .capture_loc {
    img {
      border:1px solid #eaeaea;
      padding:5px;
      box-shadow: 0px 0px 5px #888888;
    }
    a.thumbnail {
      margin-bottom: 0;
    }
  }

}

.badge {
  a {
    color: white;
    &:hover { color: black; text-decoration: none;}
  }
  .css1 { font-size: .6em; }
  .css2 { font-size: .8em; }
  .css3 { font-size: 1.0em; }
  .css4 { font-size: 1.2em; }

}