// Place all the styles related to the Glossaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_glossary_definitions {
   border:1px solid #ccc;
   margin:1em;
   padding:1em;
   border-radius:5px;
   display:none;
}

.task_fields {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  margin-bottom:1em;
  // position: relative;
  .remove {
    a {
      position: relative;
      top:0;
      right:0;
      display:block;
    };

  }
}

.add_definition_link {
  position:absolute;
  bottom:7px;
  right:5px;
  @extend .btn, .btn-success, .btn-xs;
}
