// Place all the styles related to the Glossaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#glossaries_list {
  td { vertical-align: middle;}
}

.show_glossary_definitions {
   border:1px solid #ccc;
   margin:1em;
   padding:1em;
   border-radius:5px;
   display:none;
}

.task_fields {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  margin-bottom:1em;
  // position: relative;
  .remove {
    a {
      position: relative;
      top:0;
      right:0;
      display:block;
    };

  }
}


.alphabet_box {
  border:1px solid #ccc;
  border-radius: 5px;
  padding-top: .5em;
  margin-bottom:1em;
  font-family: "Courier New";
  text-align:center;
  a {
    font-weight: bolder;
    margin-bottom: .5em;
  }
}

.add_definition_link {
  position:absolute;
  bottom:7px;
  right:5px;
  @extend .btn, .btn-success, .btn-xs;
}

ul.definitions_horizontal_list {
  padding-left: 0;
  margin-bottom:0;
  li {
    display: inline;
    white-space: nowrap;
    border:1px solid #ee4304;
    border-radius:4px;
    padding:2px 5px !important;
    font-size:.9em;
    //margin-bottom: 10px !important;
    line-height: 2.1em;
  }
  li.main {
    color: #ee4304;
    border-color: #ee4304;
    font-weight: 400;
  }
  li.sub {
    color: #b4b4b4;
    border-color: #ccc;
  }

}

