// Promotion of Schedules
.promo {
  border:1px solid darkred;
  border-radius: 5px;
  padding:1em;
  margin-top: 1em;
  h3 { font-weight: bolder; }
}

#footer {
  text-align: center;
  border-top:1px solid #cccccc;
  background-color: #efefef;
  padding:1em 0;
  margin-top:3em;
  color:#b3b3b3;
}