// bootstrap override

body {
	font-family:'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	// font-size: 14px;
	// line-height: 1.428571429;
	// color: #333333;
	// background-color: white;
}

.navbar-default {
	border:none;
	background-color:#302a2a;

	.navbar-toggle {
		border-color: #635959;
		padding: 10px 10px;
	}

	.navbar-toggle:hover, .navbar-toggle:focus {
		background-color: #524848;
	}

	.navbar-nav > li > a {
		color: #ddd;
	}

	

	.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
		color: #fff;
		background-color: #4f4545;
	}

	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
		color: #fff;
		background-color: #4f4545;
	}

	.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
		color: #c53434;
		background-color: transparent;
	}

	.navbar-nav > li > .dropdown-menu {
		border-radius: 0;
		border-top:0;
		box-shadow: none;
		-webkit-box-shadow:none;
		border-color:#eee;
		padding: 10px 0;
	}
}

.dropdown-menu > li > a {
	padding:4px 20px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: none;
	color: #262626;
	background-color: whitesmoke;
}



 



.navbar-brand {
	height: auto;
	> img {
		width:92px; height:23px;
	}
} 

// bootstrap override end

#footer {
  text-align: center;
  border-top:1px solid #cccccc;
  background-color: #efefef;
  padding:1em 0;
  margin-top:3em;
  color:#b3b3b3;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding: 16px 13px;
		padding-top: 17px;
		padding-bottom: 16px;

	}	
}
