// Place all the styles related to the newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.preview_title_box {
  padding:2em;
  border:1px solid #ccc;
  color: white;
  // background-color: #eaeaea;
  // background-image: url('newsletter_background.png');
  background-position: center top;
  background-size: 100% auto;
}

.section_articles {
  .media {
    border: 1px solid #ccc;
    margin-bottom:.5em;
    .media-left {
      border:1px solid #eaeaea;
      padding: 2px;
    }
    .media-body {
      padding: 5px;
      p {
        margin-bottom:0 !important;
      }
      h4 { font-weight: bolder; color: rgb(28, 59, 119); }
    }
  }
}

.add_article {
  overflow:auto;
}
.article_form {
  // display: none;
  overflow:auto;
  border:1px solid #ccc;
  border-radius: 5px;
  padding:1em;
  margin-bottom: .5em;
}
