// Place all the styles related to the newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.preview_title_box {
  padding:2em;
  border:1px solid #ccc;
  color: white;
  // background-color: #eaeaea;
  // background-image: url('newsletter_background.png');
  background-position: center top;
  background-size: 100% auto;
}

.section_head_mobile {
   margin-bottom: .5em;
   padding:.5em;
   color:white;
   background-color:darkred;
}

.section_articles {
  .media {
    border: 1px solid #ccc;
    margin-bottom:.5em;
    .media-left {
      border:1px solid #eaeaea;
      padding: 2px;
    }
    .media-body {
      padding: 5px;
      p {
        margin-bottom:0 !important;
      }
      h4 { font-weight: bolder; color: rgb(28, 59, 119); }
    }
  }
}

.add_article {
  overflow:auto;
}
.article_form {
  // display: none;
  overflow:auto;
  border:1px solid #ccc;
  border-radius: 5px;
  padding:1em;
  margin-bottom: .5em;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}


#subscribing_state_of_newsletters {
  a {
    display:block;
  }
}
