#plazas {
  // overflow: auto;
  .plaza.card {
    .card-header, .card-body, .card-footer { 
      padding: .5rem .7rem; 
    }
  }
}

.plaza-item-title-hover, h4.media-heading {
  a {
    // padding:.5em;
    font-weight: bold;
    &:hover {
      display: block !important;
      background-color: #d8e8ff !important;
      text-decoration: none;
    }
  }
}

// plazas#index 에서 mouse hover on panel 시에 적용되는 CSS 클래스
.inside {
  background-color: #e7f3ff; border-color: #93c6ff;
  .card-header, .label { background-color: #93c6ff !important;}
  .author { border-color: #d0d8f3 !important; }
  .category small { color: white !important; }
}

.favlink {
  .title {
    h4 { margin:0;}
    background-color: #f2f2f2;
    padding:.5em .5em;
    margin-bottom: .5em;
  }
}
