// Place all the styles related to the PurchaseRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_fields {
  margin-left: 5px;
  margin-top: 5px;
}

a.remove_fields {
  position: absolute;
  bottom: 20px;
  right: 5px;

}

#size-table {
  img {
    border:1px solid #ccc;
    border-radius: 5px;
    margin-bottom:2em;
  }
}

#req_form_div {
  margin-top: 2em;
}

fieldset {
  margin-bottom: 7px;
}
fieldset.purchase_items, fieldset.product_addition_form {
  border: 1px solid #ccc;
  border-radius: .3em;
  padding:1em;
  legend {
    border-radius: 3px;
    background-color: #eaeaea;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
    width: auto;
    padding: .2em .5em;
    border:0;
  }
}

fieldset.request_items {
  @extend fieldset.purchase_items;
  background-color: white;
  legend {
    background-color: green;
    color: white;
  }
  legend.not_confirmed {
    background-color: red;
    color: white;
  }

}
