// Place all the styles related to the rblogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rblog {
  padding-bottom: 1em;
  .title {
  }
  .authored_by {
    text-align: right;
  }
  .content {
    margin: 2em 0 1em;
    h1, h2, h3, h4, h5 {
      font-weight: bold;
    }
    h2, h3, h4, h5 {
      margin: 1.5em 0 1em;
    }
  }
  .rblog-actions {
    border-top: 1px solid #eaeaea !important;
    margin-top: 3em;
    padding-top: 1em;
  }
}

.rblog_index {
  margin-top: 1em;
  margin-bottom: 1.5em;
  .title, .content, .authored_by, .rblog-actions { padding-left: 15px; }
  .title { border-left: 5px solid #eaeaea; }
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;

}

.rblog_content textarea {
  -webkit-transition: width 0.3s, height 0.3s, left 0.3s;
  -o-transition: width 0.3s, height 0.3s, left 0.3s;
  transition: width 0.3s, height 0.3s, left 0.3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rblog_comments_section {
  margin-top:2em;
  .comments {
    margin-top: 1em;
    .comment {
      border-top:1px solid #eaeaea;
      margin-bottom: 1em;
      padding: .5em 0;
      .content {
        padding-left: 1em;
        margin-bottom:.2em;
      }
      .authored_by {
        padding-left: 1em;
      }
    }
  }

}
