.tui-editor .CodeMirror,
.tui-editor-contents {
  font-size: 1rem;
}

.tui-editor-defaultUI {
  border-radius: 5px;
}
.tui-editor-defaultUI-toolbar {
  border-radius: 5px 5px 0 0;
}
.te-mode-switch-section {
  border-radius: 0 0 5px 5px;
}
.te-markdown-tab-section {
  border-radius: 5px 0 0 0;
}

.tui-editor-contents {
  h1 {
    margin-top: 2rem !important;
  }
  ul {
    padding-left: 2rem;
  }
  blockquote {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
} 