<h2>소개말</h2>

<div class='well'>

<p>격새지감~. ROR Lab.이 시작된지 3년째가 다 되어 갑니다.</p>
<p>세월과 함께 ROR Lab. 시즌 3도 끝을 향해 달려 가고 있습니다.</p>
<p>지금은 향후 진행될 시즌 4의 기획을 구상하고 있고, 웹사이트 리뉴얼을 위한 RORLa 프로젝트도 진행 중에 있습니다.</p>
<p>그간 많은 분들이 ROR Lab.을 거쳐갔고 꾸준히 함께 하는 분들도 많이 계십니다. 함께 오프라인에 참석을 못하지만 마음 속으로 늘 응원해 주시는 분들도 많이 계십니다. 아마도 이분들이 함께 하지 않았다면 ROR Lab.은 지금의 현재를 기대할 수 없었을 것입니다.</p>
<p>새롭게 태어나는 ROR Lab. 웹사이트는 레일스 뿐만 아니라 루비에 대한 공부와 지식공유도 조심스럽게 시작하려고 합니다.</p>
<p>또한, 지식의 공유지로 그 역할을 다하려고 합니다. 국내 개발자를 위한 지식 공유 사이트로 여러 분들과 함께 만들어 가고자 합니다.</p>
<p>감사합니다.</p>


<p>2014.09.22</p>
<p>운영자</p>

</div>
