<%= content_for :general do %>
<div class='row'>
  <div class='col-md-9'>
    <%= yield %>
  </div>
  <div class='col-md-3'>
    <%= render "layouts/shared/sidebar" %>
  </div>
</div>
<% end %>

<%= render template: "layouts/application" %>
